@import './base.css';

#app {
  height: 100dvh;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  font-weight: normal;
  position: relative;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@font-face {
  font-family: 'Cubic-11'; 
  src: url('./fonts/Cubic_11/fonts/ttf/Cubic_11_1.100_R.ttf');
  font-weight: normal;
  font-style: normal;
}